<div id="social-input--image-size">

    <h2>Size</h2>

    <ul id="image-size">

        <li class="radio-input">
            <input type="radio" onchange="updateImage();" name="image-size" id="size-twitter" value="twitter" checked>
            <span class="radio"></span>
            <label for="size-twitter">
                <span class="label-first-line">Twitter timeline</span>
                <span class="label-second-line">1200px by 675px</span>
            </label>
        </li>

        <li class="radio-input">
            <input type="radio" onchange="updateImage();" name="image-size" id="size-facebook" value="facebook">
            <span class="radio"></span>
            <label for="size-facebook">
                <span class="label-first-line">Facebook timeline</span>
                <span class="label-second-line">1200px by 630px</span>
            </label>
        </li>

        <li class="radio-input">
            <input type="radio" onchange="updateImage();" name="image-size" id="size-instagram-grid" value="instagram-grid">
            <span class="radio"></span>
            <label for="size-instagram-grid">
                <span class="label-first-line">Instagram Grid</span>
                <span class="label-second-line">1080px by 1080px</span>
            </label>
        </li>

        <li class="radio-input">
            <input type="radio" onchange="updateImage();" name="image-size" id="size-instagram-stories" value="instagram-stories">
            <span class="radio"></span>
            <label for="size-instagram-stories">
                <span class="label-first-line">Instagram Stories</span>
                <span class="label-second-line">1080px by 1920px</span>
            </label>
        </li>

    </ul>

</div>

<div id="social-input--image-design">

    <h2>Design</h2>

    <ul id="image-design">

        <li class="radio-input"><input type="radio" onchange="updateImage();" name="image-design" id="style-squares" value="squares" checked><span class="radio"></span><label for="style-squares">Squares</label></li>

        <li class="radio-input"><input type="radio" onchange="updateImage();" name="image-design" id="style-circles" value="circles"><span class="radio"></span><label for="style-circles">Circles</label></li>
        
        <li class="radio-input"><input type="radio" onchange="updateImage();" name="image-design" id="style-bubbles" value="bubbles"><span class="radio"></span><label for="style-bubbles">Bubbles</label></li>
        
        <li class="radio-input"><input type="radio" onchange="updateImage();" name="image-design" id="style-curves" value="curves"><span class="radio"></span><label for="style-curves">Curves</label></li>
        
        <li class="radio-input"><input type="radio" onchange="updateImage();" name="image-design" id="style-clouds" value="clouds"><span class="radio"></span><label for="style-clouds">Clouds</label></li>
        
        <li class="radio-input"><input type="radio" onchange="updateImage();" name="image-design" id="style-waves" value="waves"><span class="radio"></span><label for="style-waves">Waves</label></li>

        <li class="radio-input"><input type="radio" onchange="updateImage();" name="image-design" id="style-arrows" value="arrows"><span class="radio"></span><label for="style-arrows">Arrows</label></li>

        <li class="radio-input"><input type="radio" onchange="updateImage();" name="image-design" id="style-magenta" value="magenta"><span class="radio"></span><label for="style-magenta">Magenta</label></li>

        <li class="radio-input"><input type="radio" onchange="updateImage();" name="image-design" id="style-cyan" value="cyan"><span class="radio"></span><label for="style-cyan">Cyan</label></li>

        <li class="radio-input"><input type="radio" onchange="updateImage();" name="image-design" id="style-yellow" value="yellow"><span class="radio"></span><label for="style-yellow">Yellow</label></li>
        

    </ul>

</div>

<div id="social-input--text">

    <h2>Text to display</h2>
    
    <textarea onfocusout="updateImage();" class="mainText" id="mainText" placeholder="Enter your text to display here." cols="30" rows="5"></textarea>

    <p class="hint">Your text will not automatically wrap to the image dimensons.</p><p class="hint"> You can manually add a line break by inserting three asterisks in a row like this: <code>***</code>.</p>

</div>

<div id="social-input--footer-style">

    <h2>Footer</h2>

    <ul id="footer-style">

        <li class="radio-input"><input type="radio" onchange="updateImage();" name="footer-style" id="footer-on" value="on" checked><span class="radio"></span><label for="footer-on">On</label></li>

        <li class="radio-input"><input type="radio" onchange="updateImage();" name="footer-style" id="footer-off" value="off"><span class="radio"></span><label for="footer-off">Off</label></li>

    </ul>

</div>

<div id="social-input--text-position">

    <h2>Text position</h2>
    
    <p>If you need to adjust the horizontal position of the text, adjust this value.</p>
    <p>These values are absolute values, rather than relative to the text's current position.</p>
    <ul id="text-position">
        <li class="number-input">
            <label for="mainTextXPosition">
                <span class="label-first-line">Text <em>x</em> position</span>
            </label>
            <input onfocusout="updateImage();" id="mainTextXPosition" name="text-position-x" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false">

            <p class="hint"><code>0</code> is the left edge. Positive values only.</p>
        </li>
        <li class="number-input">
            <label for="mainTextXPosition">
                <span class="label-first-line">Text <em>y</em> position</span>
            </label>						
            <input onfocusout="updateImage();" id="mainTextYPosition" name="text-position-y" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false">
            <p class="hint"><code>0</code> is the top edge. Positive values only.</p>
        </li>
    </ul> 
                
</div>