<div class="grid-row">
    <div class="grid-column-one-half">

        <fieldset id="image-size" class="fieldset" aria-describedby="image-size--legend">

            <legend id="image-size--legend">Size</legend>

            <div class="radios">
                <div class="radios--item">
                    <input class="radios--input" type="radio" onchange="updateImage();" name="image-size" id="size-twitter-timeline" value="twitter" checked>
                    <label class="radios--label" for="size-twitter-timeline">
                        Twitter timeline
                        <p class="hint">1200px by 675px</p>
                    </label>
                </div>
                <div class="radios--item">
                    <input class="radios--input" type="radio" onchange="updateImage();" name="image-size" id="size-facebook-timeline" value="facebook">
                    <label class="radios--label" for="size-facebook-timeline">
                        Facebook timeline
                        <p class="hint">1200px by 630px</p>
                    </label>
                </div>
                <div class="radios--item">
                    <input class="radios--input" type="radio" onchange="updateImage();" name="image-size" id="size-instagram-grid" value="instagram-grid">
                    <label class="radios--label" for="size-instagram-grid">
                        Instagram Grid
                        <p class="hint">1080px by 1080px</p>
                    </label>
                </div>
                <div class="radios--item">
                    <input class="radios--input" type="radio" onchange="updateImage();" name="image-size" id="size-instagram-stories" value="instagram-stories">
                    <label class="radios--label" for="size-instagram-stories">
                        Instagram Stories
                        <p class="hint">1080px by 1920px</p>
                    </label>
                </div>
            </div>

        </fieldset>

    </div>

    <div class="grid-column-one-half">

        <fieldset id="image-design" aria-describedby="image-design--legend">

            <legend id="image-design--legend">Design</legend>

            <div class="radios">
                {% for generator in site.generators %}
                {% if page.form-fields == generator.form-fields %}
                <div class="radios--item">
                    <input  class="radios--input" type="radio" onchange="updateImage();" name="image-design" id="{{ generator.title | slugify }}" value="style-{{ generator.title | slugify }}">
                    <label class="radios--label" for="{{ generator.title | slugify }}">
                        {{ generator.title }}
                        {% if generator.hint %}
                        <p class="hint">{{ generator.hint }}</p>
                        {% endif %}
                    </label>
                </div>
                {% endif %}
                {% endfor %}
            </div>

        </fieldset>

    </div>

</div>

<div class="grid-row">

    <div class="grid-column-one-half">

        <fieldset id="social-input--text">

            <legend>Text to display</legend>
            <p class="hint">Your text will not automatically wrap to the image dimensons.</p>
            <p class="hint"> You can manually add a line break by inserting three asterisks in a row like this: <code>***</code>.</p>

            <textarea onfocusout="updateImage();" class="mainText" id="mainText" placeholder="Enter your text to display here." cols="30" rows="7" spellcheck="true"></textarea>


        </fieldset>

    </div>

    <div class="grid-column-one-half">

        <fieldset id="text-position">

            <legend>Text position</legend>
            <p class="hint">Adjusts the horizontal position of the text. Positive values move right or down, negative values move left or up.</p>

            <div class="grid-row" style="margin-top: 30px;">

                <div class="grid-column-one-half">
                    <label class="label label-sm" for="mainTextXPosition">
                        Adjust horizontal position</span>
                    </label>
                </div>
                <div class="grid-column-one-half">
                    <input class="input" onfocusout="updateImage();" id="mainTextXPosition" name="text-position-x" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false">
                </div>

            </div>
            <div class="grid-row" style="margin-top: 10px;">

                <div class="grid-column-one-half">
                    <label class="label label-sm" for="mainTextYPosition">
                        Adjust vertical position</span>
                    </label>
                </div>
                <div class="grid-column-one-half">
                    <input class="input" onfocusout="updateImage();" id="mainTextYPosition" name="text-position-y" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false">
                </div>
            </div>

        </fieldset>

    </div>

</div>