@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, main#image-maker-default legend, h3, main#image-maker-default span.sub-legend, h4, main#global-four-oh-four div#page-content div.footnotes::before, h5, h6, p, input[type="text"], input[type="email"], textarea, .label-hint, .label, .text-input, .radio-input, .checkbox-input, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, table tfoot, table thead, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote::before, blockquote::after, q::before, q::after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

.sr-only { position: absolute; width: 1px; height: 1px; padding: 0; overflow: hidden; clip: rect(0, 0, 0, 0); white-space: nowrap; border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus { position: static; width: auto; height: auto; overflow: visible; clip: auto; white-space: normal; }

.skip-link { position: absolute; width: 1px; height: 1px; padding: 0; overflow: hidden; clip: rect(0, 0, 0, 0); white-space: nowrap; border: 0; display: block; width: 100%; padding: 10px; box-sizing: border-box; }

.skip-link:active, .skip-link:focus { position: static; width: auto; height: auto; overflow: visible; clip: auto; white-space: normal; }

/* breakpoints: ( xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px ); */
@-ms-viewport { width: device-width; }

html { box-sizing: border-box; -ms-overflow-style: scrollbar; background: #0B0C0C; }

*, *::before, *::after { box-sizing: border-box; -webkit-font-smoothing: antialiased; letter-spacing: normal; }

* input, * textarea, *::before input, *::before textarea, *::after input, *::after textarea { -webkit-appearance: none; -webkit-border-radius: 0; }

body { position: relative; margin: 0; padding: 0; font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif; background: #0B0C0C; color: #0B0C0C; box-sizing: border-box; }

body.preview { background: url("../images/preview.png"); background-size: 250px; background-repeat: repeat; }

@supports (padding: 0) { @supports (padding-top: constant(safe-area-inset-top)) { body { padding-top: max(0px, constant(safe-area-inset-top)); padding-bottom: max(0px, constant(safe-area-inset-bottom)); padding-left: max(0px, constant(safe-area-inset-left)); padding-right: max(0px, constant(safe-area-inset-right)); } }
  @supports (padding-top: env(safe-area-inset-top)) { body { padding-top: max(0px, env(safe-area-inset-top)); padding-bottom: max(0px, env(safe-area-inset-bottom)); padding-left: max(0px, env(safe-area-inset-left)); padding-right: max(0px, env(safe-area-inset-right)); } } }

img { width: 100%; max-width: 100%; margin: 20px 0; }

header#site-navigation { display: block; position: relative; background: #0B0C0C; box-shadow: 0 3px #e6007e, 0 6px #009fe3, 0 9px #ffed00; }

header#site-navigation::after { content: ""; clear: both; display: table; }

nav#header-menu::after { content: ""; clear: both; display: table; }

header#site-navigation a { display: inline-block; }

header#site-navigation a:link, header#site-navigation a:visited { color: #ffffff; text-decoration: none; }

header#site-navigation a:hover { color: #ffffff; text-decoration: underline !important; text-decoration-skip: ink; text-decoration-skip-ink: auto; }

header#site-navigation a:focus { color: #0B0C0C !important; background: #ffed00; box-sizing: content-box; outline: 3px solid #ffed00; }

header#site-navigation a:active { color: #ffffff; background: #e6007e; outline: 3px solid #e6007e; }

header#site-navigation p.site-title, header#site-navigation input.site-title[type="text"], header#site-navigation input.site-title[type="email"], header#site-navigation textarea.site-title, header#site-navigation .site-title.label-hint, header#site-navigation label.site-title, header#site-navigation .site-title.label, header#site-navigation .site-title.text-input, header#site-navigation .site-title.radio-input, header#site-navigation .site-title.checkbox-input { display: inline-block; position: relative; width: 100%; padding: 10px 0; margin: 0; font-size: 19px; font-weight: 600; }

@media only screen and (min-width: 768px) { header#site-navigation p.site-title, header#site-navigation input.site-title[type="text"], header#site-navigation input.site-title[type="email"], header#site-navigation textarea.site-title, header#site-navigation .site-title.label-hint, header#site-navigation label.site-title, header#site-navigation .site-title.label, header#site-navigation .site-title.text-input, header#site-navigation .site-title.radio-input, header#site-navigation .site-title.checkbox-input { float: left; clear: left; width: 33%; } }

@media only screen and (min-width: 768px) { header#site-navigation p.site-title, header#site-navigation input.site-title[type="text"], header#site-navigation input.site-title[type="email"], header#site-navigation textarea.site-title, header#site-navigation .site-title.label-hint, header#site-navigation label.site-title, header#site-navigation .site-title.label, header#site-navigation .site-title.text-input, header#site-navigation .site-title.radio-input, header#site-navigation .site-title.checkbox-input { font-size: 23px; } }

header#site-navigation p.service-title, header#site-navigation input.service-title[type="text"], header#site-navigation input.service-title[type="email"], header#site-navigation textarea.service-title, header#site-navigation .service-title.label-hint, header#site-navigation label.service-title, header#site-navigation .service-title.label, header#site-navigation .service-title.text-input, header#site-navigation .service-title.radio-input, header#site-navigation .service-title.checkbox-input { display: inline-block; position: relative; width: 100%; padding: 0 0 10px 0; margin: 0; font-size: 19px; font-weight: 500; }

@media only screen and (min-width: 768px) { header#site-navigation p.service-title, header#site-navigation input.service-title[type="text"], header#site-navigation input.service-title[type="email"], header#site-navigation textarea.service-title, header#site-navigation .service-title.label-hint, header#site-navigation label.service-title, header#site-navigation .service-title.label, header#site-navigation .service-title.text-input, header#site-navigation .service-title.radio-input, header#site-navigation .service-title.checkbox-input { float: left; clear: none; width: 67%; padding: 10px 0; } }

@media only screen and (min-width: 768px) { header#site-navigation p.service-title, header#site-navigation input.service-title[type="text"], header#site-navigation input.service-title[type="email"], header#site-navigation textarea.service-title, header#site-navigation .service-title.label-hint, header#site-navigation label.service-title, header#site-navigation .service-title.label, header#site-navigation .service-title.text-input, header#site-navigation .service-title.radio-input, header#site-navigation .service-title.checkbox-input { font-size: 23px; } }

header#site-navigation ul#menu-items, header#site-navigation ol#menu-items { float: none; clear: both; width: 100%; padding: 0; }

header#site-navigation ul#menu-items.open, header#site-navigation ol#menu-items.open { display: block; }

header#site-navigation ul#menu-items.closed, header#site-navigation ol#menu-items.closed { display: none; }

@media only screen and (max-width: 992px) { header#site-navigation ul#menu-items, header#site-navigation ol#menu-items { padding-bottom: 20px; } }

@media only screen and (min-width: 992px) { header#site-navigation ul#menu-items.open, header#site-navigation ol#menu-items.open, header#site-navigation ul#menu-items.closed, header#site-navigation ol#menu-items.closed { display: inline-block; margin: 0; } }

header#site-navigation ul#menu-items li, header#site-navigation ol#menu-items li { position: relative; font-size: 19px; font-weight: normal; }

@media only screen and (max-width: 992px) { header#site-navigation ul#menu-items li, header#site-navigation ol#menu-items li { display: block; width: 100%; padding: 10px 0; } }

@media only screen and (min-width: 992px) { header#site-navigation ul#menu-items li, header#site-navigation ol#menu-items li { display: inline-block; width: auto; padding: 0 15px 10px; } header#site-navigation ul#menu-items li:first-of-type, header#site-navigation ol#menu-items li:first-of-type { padding-left: 0; } }

header#site-navigation ul#menu-items a::after, header#site-navigation ol#menu-items a::after { content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

button#menu-toggle { -webkit-appearance: none; border-radius: 0; position: absolute !important; top: 15px; right: 15px; left: auto; height: 23px; width: 23px; min-height: unset !important; min-width: unset !important; margin: 0; margin-left: auto; padding: 0; background: none; border: none; font-size: 19px; font-weight: bold; text-decoration: none; }

@media only screen and (min-width: 992px) { button#menu-toggle { display: none; } }

button#menu-toggle span.bar { position: absolute; display: block; height: 6px; width: 23px; margin-left: auto; margin-right: 0; left: 0; background: #ffffff; transition: all 0.5s ease; }

button#menu-toggle span.bar:nth-of-type(1) { top: 0; bottom: auto; }

button#menu-toggle span.bar:nth-of-type(2) { top: auto; bottom: 6px; }

button#menu-toggle:hover span.bar, button#menu-toggle:focus span.bar { transition: all 0.5s ease; }

button#menu-toggle.open span.bar { transform-origin: center; }

button#menu-toggle.open span.bar:nth-of-type(1) { transform: rotate(45deg) translate(5px, 5px); }

button#menu-toggle.open span.bar:nth-of-type(2) { transform: rotate(-45deg) translate(3px, -3px); }

body.global-banner nav#site-navigation { padding: 0 0 9px 0; }

div#site-banner { display: block; position: relative; z-index: 1000000; padding: 0px; margin: 0; }

div#site-banner div#banner { padding: 0 15px; margin: 0; }

div#site-banner div#banner.magenta { background: #e6007e; }

div#site-banner div#banner.cyan { background: #009fe3; }

div#site-banner div#banner.black { background: #0B0C0C; }

div#site-banner div#banner::after { content: ""; clear: both; display: table; }

div#site-banner ul, div#site-banner ol { display: block; width: 100%; list-style: none; padding: 15px 0; margin: 0; }

@media only screen and (min-width: 768px) { div#site-banner ul, div#site-banner ol { width: 100%; float: left; clear: none; } }

div#site-banner ul.closed, div#site-banner ol.closed { display: none; }

@media only screen and (min-width: 768px) { div#site-banner ul.closed, div#site-banner ol.closed { display: block; } }

@media only screen and (min-width: 768px) { div#site-banner ul, div#site-banner ol { padding: 0; } }

@media only screen and (min-width: 768px) { div#site-banner ul, div#site-banner ol { display: block; text-align: left; } }

div#site-banner ul li, div#site-banner ol li { padding: 0px; }

div#site-banner ul li p, div#site-banner ul li input[type="text"], div#site-banner ul li input[type="email"], div#site-banner ul li textarea, div#site-banner ul li .label-hint, div#site-banner ul li label, div#site-banner ul li .label, div#site-banner ul li .text-input, div#site-banner ul li .radio-input, div#site-banner ul li .checkbox-input, div#site-banner ol li p, div#site-banner ol li input[type="text"], div#site-banner ol li input[type="email"], div#site-banner ol li textarea, div#site-banner ol li .label-hint, div#site-banner ol li label, div#site-banner ol li .label, div#site-banner ol li .text-input, div#site-banner ol li .radio-input, div#site-banner ol li .checkbox-input { display: block; padding: inherit; font-size: 17px; color: #ffffff; font-weight: bold; margin: 0; }

@media only screen and (min-width: 768px) { div#site-banner ul li p, div#site-banner ul li input[type="text"], div#site-banner ul li input[type="email"], div#site-banner ul li textarea, div#site-banner ul li .label-hint, div#site-banner ul li label, div#site-banner ul li .label, div#site-banner ul li .text-input, div#site-banner ul li .radio-input, div#site-banner ul li .checkbox-input, div#site-banner ol li p, div#site-banner ol li input[type="text"], div#site-banner ol li input[type="email"], div#site-banner ol li textarea, div#site-banner ol li .label-hint, div#site-banner ol li label, div#site-banner ol li .label, div#site-banner ol li .text-input, div#site-banner ol li .radio-input, div#site-banner ol li .checkbox-input { display: inline-block; padding: 10px 0 10px 0px; } }

div#site-banner ul li p:last-child, div#site-banner ul li input[type="text"]:last-child, div#site-banner ul li input[type="email"]:last-child, div#site-banner ul li textarea:last-child, div#site-banner ul li .label-hint:last-child, div#site-banner ul li label:last-child, div#site-banner ul li .label:last-child, div#site-banner ul li .text-input:last-child, div#site-banner ul li .radio-input:last-child, div#site-banner ul li .checkbox-input:last-child, div#site-banner ol li p:last-child, div#site-banner ol li input[type="text"]:last-child, div#site-banner ol li input[type="email"]:last-child, div#site-banner ol li textarea:last-child, div#site-banner ol li .label-hint:last-child, div#site-banner ol li label:last-child, div#site-banner ol li .label:last-child, div#site-banner ol li .text-input:last-child, div#site-banner ol li .radio-input:last-child, div#site-banner ol li .checkbox-input:last-child { padding-right: 0; }

div#site-banner ul li p a, div#site-banner ul li input[type="text"] a, div#site-banner ul li input[type="email"] a, div#site-banner ul li textarea a, div#site-banner ul li .label-hint a, div#site-banner ul li label a, div#site-banner ul li .label a, div#site-banner ul li .text-input a, div#site-banner ul li .radio-input a, div#site-banner ul li .checkbox-input a, div#site-banner ol li p a, div#site-banner ol li input[type="text"] a, div#site-banner ol li input[type="email"] a, div#site-banner ol li textarea a, div#site-banner ol li .label-hint a, div#site-banner ol li label a, div#site-banner ol li .label a, div#site-banner ol li .text-input a, div#site-banner ol li .radio-input a, div#site-banner ol li .checkbox-input a { color: #ffffff; text-decoration: underline; }

div#site-banner ul li p a:hover, div#site-banner ul li input[type="text"] a:hover, div#site-banner ul li input[type="email"] a:hover, div#site-banner ul li textarea a:hover, div#site-banner ul li .label-hint a:hover, div#site-banner ul li label a:hover, div#site-banner ul li .label a:hover, div#site-banner ul li .text-input a:hover, div#site-banner ul li .radio-input a:hover, div#site-banner ul li .checkbox-input a:hover, div#site-banner ol li p a:hover, div#site-banner ol li input[type="text"] a:hover, div#site-banner ol li input[type="email"] a:hover, div#site-banner ol li textarea a:hover, div#site-banner ol li .label-hint a:hover, div#site-banner ol li label a:hover, div#site-banner ol li .label a:hover, div#site-banner ol li .text-input a:hover, div#site-banner ol li .radio-input a:hover, div#site-banner ol li .checkbox-input a:hover, div#site-banner ul li p a:focus, div#site-banner ul li input[type="text"] a:focus, div#site-banner ul li input[type="email"] a:focus, div#site-banner ul li textarea a:focus, div#site-banner ul li .label-hint a:focus, div#site-banner ul li label a:focus, div#site-banner ul li .label a:focus, div#site-banner ul li .text-input a:focus, div#site-banner ul li .radio-input a:focus, div#site-banner ul li .checkbox-input a:focus, div#site-banner ol li p a:focus, div#site-banner ol li input[type="text"] a:focus, div#site-banner ol li input[type="email"] a:focus, div#site-banner ol li textarea a:focus, div#site-banner ol li .label-hint a:focus, div#site-banner ol li label a:focus, div#site-banner ol li .label a:focus, div#site-banner ol li .text-input a:focus, div#site-banner ol li .radio-input a:focus, div#site-banner ol li .checkbox-input a:focus { -webkit-color: #DEE0E2; color: #DEE0E2; }

div#site-footer { position: relative; display: block; padding: 45px 0; background: #0B0C0C; box-shadow: 0 -3px #ffed00, 0 -6px #009fe3, 0 -9px #e6007e; }

div#site-footer footer#footer { display: block; position: relative; padding: 15px; }

div#site-footer footer#footer::after { content: ""; clear: both; display: table; }

@supports (display: grid) { div#site-footer footer#footer { display: grid; grid-template-columns: 1fr; grid-column-gap: 30px; grid-template-rows: auto auto auto auto; grid-template-areas: "title" "links" "share" "disclaimer"; }
  @media only screen and (min-width: 768px) { div#site-footer footer#footer { grid-template-columns: 2fr 1fr 1fr; grid-column-gap: 30px; grid-template-rows: auto auto; grid-row-gap: 30px; grid-template-areas: "title links share" "disclaimer disclaimer disclaimer"; } } }

div#site-footer h1 { position: relative; display: block; width: 100%; margin: 0; padding: 0 0 15px 0; color: #ffffff; font-size: 19px; font-weight: bold; line-height: 1.35; }

@media only screen and (min-width: 768px) { div#site-footer h1 { width: 50%; float: left; clear: left; } }

@supports (display: grid) { div#site-footer h1 { grid-area: title; width: 100%; float: none; clear: none; } }

div#site-footer div#footer-links, div#site-footer div#footer-disclaimer, div#site-footer div#footer-share { display: block; position: relative; padding: 0 0 45px 0; color: #ffffff !important; }

@media only screen and (min-width: 768px) { div#site-footer div#footer-links, div#site-footer div#footer-disclaimer, div#site-footer div#footer-share { width: 25%; float: left; clear: none; } @supports (display: grid) { div#site-footer div#footer-links, div#site-footer div#footer-disclaimer, div#site-footer div#footer-share { width: 100%; float: none; clear: none; } } }

@supports (display: grid) { div#site-footer div#footer-links, div#site-footer div#footer-disclaimer, div#site-footer div#footer-share { grid-area: links; } }

div#site-footer div#footer-links ul, div#site-footer div#footer-links ol, div#site-footer div#footer-disclaimer ul, div#site-footer div#footer-disclaimer ol, div#site-footer div#footer-share ul, div#site-footer div#footer-share ol { list-style: none; padding: 0; margin: 0; }

div#site-footer div#footer-links ul li, div#site-footer div#footer-links ol li, div#site-footer div#footer-disclaimer ul li, div#site-footer div#footer-disclaimer ol li, div#site-footer div#footer-share ul li, div#site-footer div#footer-share ol li { font-size: 15px; padding: 10px 0 0 0; }

@media only screen and (min-width: 768px) { div#site-footer div#footer-links ul li, div#site-footer div#footer-links ol li, div#site-footer div#footer-disclaimer ul li, div#site-footer div#footer-disclaimer ol li, div#site-footer div#footer-share ul li, div#site-footer div#footer-share ol li { padding: 0; margin: 0; } }

@supports (display: grid) { div#site-footer div#footer-share { grid-area: share; } }

div#site-footer div#footer-disclaimer { clear: both; width: 100%; border-top: 1px solid #ffffff; padding: 30px 0 0 0; font-size: 15px; }

@supports (display: grid) { div#site-footer div#footer-disclaimer { grid-area: disclaimer; } }

div#site-footer div#footer-disclaimer p, div#site-footer div#footer-disclaimer input[type="text"], div#site-footer div#footer-disclaimer input[type="email"], div#site-footer div#footer-disclaimer textarea, div#site-footer div#footer-disclaimer .label-hint, div#site-footer div#footer-disclaimer label, div#site-footer div#footer-disclaimer .label, div#site-footer div#footer-disclaimer .text-input, div#site-footer div#footer-disclaimer .radio-input, div#site-footer div#footer-disclaimer .checkbox-input { font-size: 15px; color: #ffffff; }

div#site-footer div#footer-disclaimer ul li, div#site-footer div#footer-disclaimer ol li { display: inline-block; margin-right: 30px; }

div#site-footer a:link, div#site-footer a:visited { color: #ffffff; font-weight: bold; text-decoration: none; }

div#site-footer a:hover { color: #ffffff; text-decoration: underline !important; text-decoration-skip: ink; text-decoration-skip-ink: auto; }

div#site-footer a:focus { color: #0B0C0C !important; background: #ffed00; box-sizing: content-box; outline: 3px solid #ffed00; }

div#site-footer a:active { background: #e6007e; outline: 3px solid #e6007e; }

.wrapper { background: #ffffff; }

.container { display: block; position: relative; padding-left: 15px; padding-right: 15px; width: 100%; margin-left: auto; margin-right: auto; clear: both; float: none; }

@media only screen and (min-width: 576px) and (max-width: 767px) { .container { max-width: 540px !important; } }

@media only screen and (min-width: 768px) and (max-width: 991px) { .container { max-width: 720px !important; } }

@media only screen and (min-width: 992px) and (max-width: 1399px) { .container { max-width: 960px !important; } }

@media only screen and (min-width: 1400px) { .container { max-width: 960px !important; } }

.container::after { content: ""; clear: both; display: table; }

sup { font-size: 12.6666666667px; vertical-align: super; text-decoration: none; }

sup a { text-decoration: none; }

a { display: inline; box-sizing: content-box; text-decoration-skip: ink; text-decoration-skip-ink: auto; font-weight: inherit; }

a:link, a:visited { color: #009fe3; text-decoration: none; }

a:hover { color: #2f3590; text-decoration: underline !important; cursor: pointer; }

a:focus { color: #0B0C0C !important; background: #ffed00; outline: 3px solid #ffed00; }

a:active { color: #ffffff !important; background: #e6007e; outline: 3px solid #e6007e; }

h1, h2, main#image-maker-default legend, h3, main#image-maker-default span.sub-legend, h4, main#global-four-oh-four div#page-content div.footnotes::before, h5, h6 { color: #0B0C0C; }

h1 { font-weight: bold; font-size: 38.4px; padding: 45px 0 30px 0; }

@media only screen and (min-width: 768px) { h1 { font-size: 48px; } }

h2, main#image-maker-default legend { font-weight: bold; font-size: 36px; padding: 45px 0 30px 0; }

h3, main#image-maker-default span.sub-legend { font-weight: bold; font-size: 30px; padding: 30px 0 15px 0; }

h2 + h3, main#image-maker-default h2 + span.sub-legend, main#image-maker-default legend + h3, main#image-maker-default legend + span.sub-legend { padding-top: 0 !important; }

h4, main#global-four-oh-four div#page-content div.footnotes::before { font-weight: bold; font-size: 24px; padding: 30px 0 15px 0; }

h3 + h4, main#image-maker-default span.sub-legend + h4, main#global-four-oh-four div#page-content h3 + div.footnotes::before, main#global-four-oh-four div#page-content main#image-maker-default span.sub-legend + div.footnotes::before, main#image-maker-default main#global-four-oh-four div#page-content span.sub-legend + div.footnotes::before { padding-top: 0 !important; }

h5 { font-weight: bold; font-size: 19px; padding: 10px 0; }

h4 + h5, main#global-four-oh-four div#page-content div.footnotes::before + h5 { padding-top: 0 !important; }

h6 { font-weight: bold; font-size: 19px; padding: 10px 0; }

p, input[type="text"], input[type="email"], textarea, .label-hint, label, .label, .text-input, .radio-input, .checkbox-input, li { font-size: 19px; font-weight: normal; line-height: 1.35; margin-bottom: 19px; }

strong, table tfoot, table thead, b { font-weight: 600; }

em, i { font-style: italic; }

u { text-decoration: underline; }

center { text-align: center; }

li { padding-left: 10px; margin: 0; }

ul, ol { padding-bottom: 19px; padding-left: 40px; list-style: disc; }

ol { list-style: decimal; }

code, kbd { font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; font-weight: normal; font-size: 17.1px; line-height: 1 / 0.9; color: #b30062; }

pre { display: inline-block; width: 100%; overflow-x: scroll; white-space: pre-wrap; margin-bottom: 30px; padding: 20px; background: #DEE0E2; }

pre code, pre kbd { line-height: 1.35; }

blockquote { display: inline-block; width: 100%; background: #DEE0E2; padding: 10px; margin-top: 12.6666666667px; margin-bottom: 12.6666666667px; }

blockquote p:first-child, blockquote input[type="text"]:first-child, blockquote input[type="email"]:first-child, blockquote textarea:first-child, blockquote .label-hint:first-child, blockquote label:first-child, blockquote .label:first-child, blockquote .text-input:first-child, blockquote .radio-input:first-child, blockquote .checkbox-input:first-child { margin-top: 0; }

blockquote p:last-child, blockquote input[type="text"]:last-child, blockquote input[type="email"]:last-child, blockquote textarea:last-child, blockquote .label-hint:last-child, blockquote label:last-child, blockquote .label:last-child, blockquote .text-input:last-child, blockquote .radio-input:last-child, blockquote .checkbox-input:last-child { margin-bottom: 0; }

blockquote code, blockquote kbd { color: #0B0C0C; }

table { width: 100%; font-size: 19px; line-height: 1.35; border-collapse: collapse; margin-bottom: 20px; }

table thead { text-align: left; border-bottom: 1px solid #0B0C0C; }

table tfoot { text-align: left; border-top: 1px solid #0B0C0C; }

table th, table td { padding: 5px; vertical-align: middle; }

hr { border: none; border-top: 2px solid #DEE0E2; margin: 30px 0; }

iframe { width: 100%; margin: 10px 0 20px; }

div.embed-responsive { position: relative; display: block; height: 0; padding: 0; overflow: hidden; padding-bottom: 56.25%; margin-bottom: 30px; }

div.embed-responsive iframe { position: absolute; top: 0; left: 0; bottom: 0; height: 100%; width: 100%; border: 0; }

iframe.twitter-tweet, twitter-widget { margin: 20px auto 40px !important; }

details.collection { border-top: 2px solid #DEE0E2; }

details.collection--posts--item { border-top: 1px solid #DEE0E2; }

details.collection--posts--item:first-of-type { border: none; }

details section { padding: 15px; }

details section.collection--meta-data { padding: 0; }

details section.collection--meta-data p, details section.collection--meta-data input[type="text"], details section.collection--meta-data input[type="email"], details section.collection--meta-data textarea, details section.collection--meta-data .label-hint, details section.collection--meta-data label, details section.collection--meta-data .label, details section.collection--meta-data .text-input, details section.collection--meta-data .radio-input, details section.collection--meta-data .checkbox-input { background: #DEE0E2; padding: 3px 30px; margin: 0; }

details section.collection--meta-data p:first-child, details section.collection--meta-data input[type="text"]:first-child, details section.collection--meta-data input[type="email"]:first-child, details section.collection--meta-data textarea:first-child, details section.collection--meta-data .label-hint:first-child, details section.collection--meta-data label:first-child, details section.collection--meta-data .label:first-child, details section.collection--meta-data .text-input:first-child, details section.collection--meta-data .radio-input:first-child, details section.collection--meta-data .checkbox-input:first-child { padding-top: 15px; }

details section.collection--meta-data p:last-child, details section.collection--meta-data input[type="text"]:last-child, details section.collection--meta-data input[type="email"]:last-child, details section.collection--meta-data textarea:last-child, details section.collection--meta-data .label-hint:last-child, details section.collection--meta-data label:last-child, details section.collection--meta-data .label:last-child, details section.collection--meta-data .text-input:last-child, details section.collection--meta-data .radio-input:last-child, details section.collection--meta-data .checkbox-input:last-child { padding-bottom: 15px; }

details section.collections--posts { padding: 0; }

details section.collections--posts p, details section.collections--posts input[type="text"], details section.collections--posts input[type="email"], details section.collections--posts textarea, details section.collections--posts .label-hint, details section.collections--posts label, details section.collections--posts .label, details section.collections--posts .text-input, details section.collections--posts .radio-input, details section.collections--posts .checkbox-input { margin: 0 0 3px 0; }

details section.collections--posts p:last-child, details section.collections--posts input[type="text"]:last-child, details section.collections--posts input[type="email"]:last-child, details section.collections--posts textarea:last-child, details section.collections--posts .label-hint:last-child, details section.collections--posts label:last-child, details section.collections--posts .label:last-child, details section.collections--posts .text-input:last-child, details section.collections--posts .radio-input:last-child, details section.collections--posts .checkbox-input:last-child { margin-top: 15px; }

details { padding: 15px 0; border-top: 2px solid #DEE0E2; }

@media only screen and (min-width: 768px) { details { padding: 15px 7.5px; } }

details[open] > summary { margin-bottom: 15px; }

details blockquote { display: block; padding: 15px; }

details summary { /* Hide the marker completely. */ list-style-image: none; }

details summary::marker, details summary::-webkit-details-marker { display: none; list-style-image: none; content: ''; width: 0; height: 0; }

details summary:before { display: block; position: relative; top: 0; right: auto; left: 0; content: '+'; width: 30px; float: left; text-align: left; font-weight: bold; line-height: 1; }

details[open] > summary::-webkit-details-marker, details[open] > summary::marker { display: none; list-style-image: none; content: ''; }

details[open] > summary:before { content: '–'; }

summary { font-size: 19px; line-height: 1.35; font-weight: bold; }

summary h1, summary h2, summary main#image-maker-default legend, main#image-maker-default summary legend, summary h3, summary main#image-maker-default span.sub-legend, main#image-maker-default summary span.sub-legend, summary h4, summary main#global-four-oh-four div#page-content div.footnotes::before, main#global-four-oh-four div#page-content summary div.footnotes::before, summary h5, summary h6 { display: inline-block; position: relative; font-size: 19px; line-height: 1.35; padding: 0; color: unset; width: calc(100% - (15px * 2)); }

summary legend { display: block; position: relative; font-size: 19px; line-height: 1.35; padding: 0; color: unset; max-width: calc(100% - (15px * 2)); }

summary:hover { color: #009fe3; text-decoration: underline !important; cursor: pointer; }

summary:focus { color: #0B0C0C !important; background: #ffed00; outline: 3px solid #ffed00; }

summary:active { color: #ffffff !important; background: #e6007e; outline: 3px solid #e6007e; }

summary::after { content: ""; clear: both; display: table; }

details > div.container { width: calc(100% - (15px * 2)); margin: 0 0 0 30px; padding: 0; }

.radio-item { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; display: block; position: relative; min-height: 40px; margin-bottom: 10px; padding-left: 40px; clear: left; font-size: 19px; font-weight: normal; line-height: 1.35; }

.radio-item input { cursor: pointer; position: absolute; z-index: 1; top: -2px; left: -2px; width: 44px; height: 44px; margin: 0; opacity: 0; }

.radio-item label { display: inline-block; margin-bottom: 0; padding: 8px 15px 5px; cursor: pointer; -ms-touch-action: manipulation; touch-action: manipulation; }

.radio-item label::before { content: ""; box-sizing: border-box; position: absolute; top: 0; left: 0; width: 40px; height: 40px; border: 2px solid currentColor; border-radius: 50%; background: transparent; }

.radio-item label::after { content: ""; position: absolute; top: 10px; left: 10px; width: 0; height: 0; border: 10px solid currentColor; border-radius: 50%; opacity: 0; background: currentColor; }

input:focus + label::before { border-width: 4px; box-shadow: 0 0 0 4px #fd0; }

input:checked + label::after { opacity: 1; }

#cookie-notice { display: none; }

#cookie-notice-nojs { display: block; }

#cookie-notice-nojs p, #cookie-notice-nojs input[type="text"], #cookie-notice-nojs input[type="email"], #cookie-notice-nojs textarea, #cookie-notice-nojs .label-hint, #cookie-notice-nojs label, #cookie-notice-nojs .label, #cookie-notice-nojs .text-input, #cookie-notice-nojs .radio-input, #cookie-notice-nojs .checkbox-input { margin-bottom: initial; }

.cookie-banner { padding: 1rem 1rem; text-align: left; top: 10px; width: 100%; background: #f3f2f1; }

.cookie-button { display: inline-block; cursor: pointer; min-width: 150px; min-height: 40px; font-size: 19px; font-weight: bold; vertical-align: middle; line-height: 40px; background: #e6007e; color: #fff; border: 1px solid #e6007e; }

.cookie-button:hover { background: #312783; cursor: pointer; }

@media (max-width: 767px) { #cookie-notice span { display: block; padding-top: 3px; margin-bottom: 1rem; } .cookie-button { position: relative; display: inline-block; min-width: 100%; margin-bottom: 5px; } }

input[type='submit'], button, a.button { -webkit-appearance: none; border-radius: 0; display: inline-block; cursor: pointer; min-width: 150px; min-height: 40px; font-weight: bold; vertical-align: middle; line-height: 40px; padding: 7.5px 30px; text-align: center; margin: 0; text-decoration: none; box-sizing: border-box !important; background: #e6007e; color: #ffffff; border: none; font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif; font-size: 19px; }

input[type='submit']:link, input[type='submit']:visited, button:link, button:visited, a.button:link, a.button:visited { background: #e6007e; color: #ffffff; }

input[type='submit']:hover, button:hover, a.button:hover { background: #312783; color: #ffffff; text-decoration: underline; cursor: pointer; }

input[type='submit']:focus, button:focus, a.button:focus { background: #ffed00; outline: 3px solid #ffed00; color: #0B0C0C !important; cursor: pointer; }

input[type='submit']:active, button:active, a.button:active { color: #ffffff !important; background: #e6007e; outline: 3px solid #e6007e; }

fieldset details[open] { margin-bottom: 30px; }

fieldset details[open] summary { margin-bottom: 30px; }

legend, .legend { display: inline-block; text-align: left; font-weight: bold; }

.sub-legend { display: block; text-align: left; color: #6F777B; }

legend > span.sub-legend { padding-top: 0 !important; }

.text-input, .radio-input, .checkbox-input { display: block; position: relative; min-height: 40px; padding: 0; margin-bottom: 30px; clear: left; }

.radio-input, .checkbox-input { padding-left: 40px; }

.radio-input:last-child, .radio-input:last-of-type, .checkbox-input:last-child, .checkbox-input:last-of-type { margin-bottom: 0; }

label, .label { display: block; font-weight: 600; padding-bottom: 0; padding-top: 7px !important; margin-bottom: 0; min-height: 40px; }

label.hidden, .label.hidden { position: absolute; width: 1px; height: 1px; padding: 0; overflow: hidden; clip: rect(0, 0, 0, 0); white-space: nowrap; border: 0; }

label.hidden ~ input, .label.hidden ~ input { margin: 0; }

.label { font-weight: normal; }

.label-hint { color: #636a6e; padding-bottom: 0; display: block; }

input[type="text"], input[type="email"], textarea { box-sizing: border-box; width: 100%; min-height: 40px; margin-top: 15px; padding: 5px; border: 3px solid #0B0C0C; border-radius: 0; background: #ffffff; color: #0B0C0C; -webkit-appearance: none; appearance: none; }

input[type="text"]:focus, input[type="email"]:focus, textarea:focus { outline: 3px solid #ffed00; outline-offset: 0; box-shadow: inset 0 0 0 1px; }

input[type="text"]:invalid, input[type="email"]:invalid, textarea:invalid { background: #DEE0E2; border: 3px solid #e30613; }

input[type="text"]:hover, input[type="email"]:hover, textarea:hover { box-shadow: 0 0 0 3px #e6007e; }

div.date { position: relative; display: inline-block; width: auto; margin-right: 3.75px; }

div.date.year input[type="text"] { max-width: 8ch; }

div.date.month input[type="text"] { max-width: 6ch; }

div.date.day input[type="text"] { max-width: 6ch; }

div.date.day { margin-right: 30px; }

div.date.hour input[type="text"] { max-width: 6ch; }

div.date.minute input[type="text"] { max-width: 6ch; }

textarea { resize: vertical; }

input[type="checkbox"] { cursor: pointer; position: absolute; z-index: 1; top: -2px; left: -2px; width: 44px; height: 44px; margin: 0; opacity: 0; }

input[type="checkbox"] ~ label { display: inline-block; margin-bottom: 0; padding: 0px 20px; cursor: pointer; touch-action: manipulation; font-weight: 400; }

input[type="checkbox"] ~ label::before { content: ""; box-sizing: border-box; position: absolute; top: 0; left: 0; width: 40px; height: 40px; border: 2px solid #0B0C0C; border-radius: 0; background: transparent; }

input[type="checkbox"] ~ label::after { content: ""; position: absolute; top: 7px; left: 13px; width: 13.3333333333px; height: 20px; opacity: 0; background: none; border-bottom: 5px solid #e6007e; border-right: 5px solid #e6007e; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }

input[type="checkbox"]:focus + label::before { border-width: 4px; box-shadow: 0 0 0 3px #e6007e; }

input[type="checkbox"]:hover + label::before { border-width: 2px; box-shadow: 0 0 0 3px #e6007e; background: #DEE0E2; }

input[type="checkbox"]:hover + label { text-decoration: underline; text-decoration-color: #e6007e; text-decoration-thickness: 3px; text-decoration-style: solid; text-decoration-skip-ink: auto; text-underline-offset: 6px; }

input[type="checkbox"]:checked + label::after { opacity: 1; }

input[type="checkbox"] ~ .label-hint { padding-right: 20px; padding-left: 20px; }

input[type="checkbox"] ~ input[type="text"], input[type="checkbox"] ~ input[type="email"] { margin-left: 20px; width: calc(100% - 20px); }

input[type="radio"] { cursor: pointer; position: absolute; z-index: 1; top: -2px; left: -2px; width: 44px; height: 44px; margin: 0; opacity: 0; }

input[type="radio"] ~ label { display: inline-block; margin-bottom: 0; padding: 0px 20px; cursor: pointer; touch-action: manipulation; font-weight: 400; }

input[type="radio"] ~ label::before { content: ""; box-sizing: border-box; position: absolute; top: 0; left: 0; width: 40px; height: 40px; border: 2px solid #0B0C0C; border-radius: 50%; background: transparent; }

input[type="radio"] ~ label::after { content: ""; position: absolute; top: 10px; left: 10px; width: 0; height: 0; border: 10px solid #e6007e; border-radius: 50%; opacity: 0; background: #0B0C0C; }

input[type="radio"]:focus + label::before { border-width: 4px; box-shadow: 0 0 0 3px #e6007e; }

input[type="radio"]:hover + label::before { border-width: 2px; box-shadow: 0 0 0 3px #e6007e; background: #DEE0E2; }

input[type="radio"]:hover + label { text-decoration: underline; text-decoration-color: #e6007e; text-decoration-thickness: 3px; text-decoration-style: solid; text-decoration-skip-ink: auto; text-underline-offset: 6px; }

input[type="radio"]:checked + label::after { opacity: 1; }

input[type="radio"] ~ .label-hint { padding-right: 20px; padding-left: 20px; }

input[type="radio"] ~ input[type="text"], input[type="radio"] ~ input[type="email"] { margin-left: 20px; width: calc(100% - 20px); }

main#global-four-oh-four { padding: 45px 0; }

@supports (display: grid) { main#global-four-oh-four { display: grid; grid-template-rows: auto auto auto; grid-template-columns: 1fr; grid-template-areas: "page-title" "page-lead-paragraph" "page-content"; }
  @media only screen and (min-width: 768px) { main#global-four-oh-four { grid-template-rows: auto auto auto; grid-template-columns: 2fr 1fr; grid-column-gap: 30px; grid-template-areas: "page-title ." "page-lead-paragraph ." "page-content."; } } }

@supports not (display: grid) { main#global-four-oh-four::after { content: ""; clear: both; display: table; } }

main#global-four-oh-four div#page-title { margin-top: 45px; margin-bottom: 45px; }

@supports (display: grid) { main#global-four-oh-four div#page-title { grid-area: page-title; } }

main#global-four-oh-four div#page-title h1.page-title { margin: 0; padding: 0; }

main#global-four-oh-four div#page-lead-paragraph { margin-bottom: 45px; }

@supports (display: grid) { main#global-four-oh-four div#page-lead-paragraph { grid-area: page-lead-paragraph; } }

main#global-four-oh-four div#page-lead-paragraph p, main#global-four-oh-four div#page-lead-paragraph .text-input, main#global-four-oh-four div#page-lead-paragraph .radio-input, main#global-four-oh-four div#page-lead-paragraph .checkbox-input, main#global-four-oh-four div#page-lead-paragraph label, main#global-four-oh-four div#page-lead-paragraph .label, main#global-four-oh-four div#page-lead-paragraph .label-hint, main#global-four-oh-four div#page-lead-paragraph input[type="text"], main#global-four-oh-four div#page-lead-paragraph input[type="email"], main#global-four-oh-four div#page-lead-paragraph textarea { font-size: 24px; }

main#global-four-oh-four div#page-metadata { margin-bottom: 45px; padding-top: 15px; border-top: 2px solid #DEE0E2; }

@supports (display: grid) { main#global-four-oh-four div#page-metadata { grid-area: page-metadata; } }

main#global-four-oh-four div#page-metadata p, main#global-four-oh-four div#page-metadata .text-input, main#global-four-oh-four div#page-metadata .radio-input, main#global-four-oh-four div#page-metadata .checkbox-input, main#global-four-oh-four div#page-metadata label, main#global-four-oh-four div#page-metadata .label, main#global-four-oh-four div#page-metadata .label-hint, main#global-four-oh-four div#page-metadata input[type="text"], main#global-four-oh-four div#page-metadata input[type="email"], main#global-four-oh-four div#page-metadata textarea { font-size: 16px; margin: 0; }

main#global-four-oh-four div#page-content { margin-bottom: 45px; padding-top: 15px; border-top: 2px solid #DEE0E2; }

@supports not (display: grid) { @media only screen and (min-width: 768px) { main#global-four-oh-four div#page-content { width: 67%; float: left; clear: left; } } }

@supports (display: grid) { main#global-four-oh-four div#page-content { grid-area: page-content; } }

main#global-four-oh-four div#page-content img.page-image { width: 100%; min-width: 100%; min-height: 100px; }

main#global-four-oh-four div#page-content div.footnotes { border-top: 2px solid #DEE0E2; margin-top: 45px; padding: 15px 0 0 0; }

main#global-four-oh-four div#page-content div.footnotes::before { display: inline-block; width: 100%; padding-bottom: 15px; content: "Footnotes"; }

@font-face { font-family: 'PrideOn'; src: url("../fonts/font.woff2") format("woff2"), url("../fonts/font.woff") format("woff"); font-weight: normal; font-style: normal; }

main#image-maker-default { padding: 45px 0; }

main#image-maker-default [id^="social-input--"] { margin-bottom: 30px; }

main#image-maker-default img { display: block; margin: 0 auto 15px; border: 1px solid #BFC1C3; height: auto !important; width: auto !important; max-width: 100% !important; max-height: 50vh !important; }

main#image-maker-default button, main#image-maker-default a.button { display: block; width: 100%; margin-bottom: 9.9px; }

main#image-maker-default button:last-child, main#image-maker-default a.button:last-child { margin: 0; }

main#image-maker-default legend { text-align: left; }

main#image-maker-default fieldset#image-size legend { padding-top: 0; }

main#image-maker-default span.sub-legend { display: block; text-align: left; padding: 36px 0 30px; }

@supports (display: grid) { main#image-maker-default { display: grid; grid-template-rows: auto auto auto; grid-template-columns: 1fr; grid-template-areas: "page-title" "page-lead-paragraph" "page-content"; }
  @media only screen and (min-width: 768px) { main#image-maker-default { grid-template-rows: auto auto auto; grid-template-columns: 2fr 1fr; grid-column-gap: 30px; grid-template-areas: "page-title ." "page-lead-paragraph ." "page-content page-content"; } } }

main#image-maker-default::after { content: ""; clear: both; display: table; }

@supports (display: grid) { main#image-maker-default::after { content: none; clear: inherit; display: none; } }

main#image-maker-default div#page-title { margin-top: 45px; margin-bottom: 45px; }

@supports (display: grid) { main#image-maker-default div#page-title { grid-area: page-title; } }

main#image-maker-default div#page-title h1.page-title { margin: 0; padding: 0; }

main#image-maker-default div#page-lead-paragraph { margin-bottom: 45px; }

@supports (display: grid) { main#image-maker-default div#page-lead-paragraph { grid-area: page-lead-paragraph; } }

main#image-maker-default div#page-lead-paragraph p, main#image-maker-default div#page-lead-paragraph .text-input, main#image-maker-default div#page-lead-paragraph .radio-input, main#image-maker-default div#page-lead-paragraph .checkbox-input, main#image-maker-default div#page-lead-paragraph label, main#image-maker-default div#page-lead-paragraph .label, main#image-maker-default div#page-lead-paragraph .label-hint, main#image-maker-default div#page-lead-paragraph input[type="text"], main#image-maker-default div#page-lead-paragraph input[type="email"], main#image-maker-default div#page-lead-paragraph textarea { font-size: 24px; }

main#image-maker-default div#page-metadata { margin-bottom: 45px; padding-top: 15px; border-top: 2px solid #DEE0E2; }

@supports (display: grid) { main#image-maker-default div#page-metadata { grid-area: page-metadata; } }

main#image-maker-default div#page-metadata p, main#image-maker-default div#page-metadata .text-input, main#image-maker-default div#page-metadata .radio-input, main#image-maker-default div#page-metadata .checkbox-input, main#image-maker-default div#page-metadata label, main#image-maker-default div#page-metadata .label, main#image-maker-default div#page-metadata .label-hint, main#image-maker-default div#page-metadata input[type="text"], main#image-maker-default div#page-metadata input[type="email"], main#image-maker-default div#page-metadata textarea { font-size: 16px; margin: 0; }

@supports (display: grid) { main#image-maker-default div#page-content { width: 100%; float: none; clear: none; grid-area: page-content; } }

main#image-maker-default div#page-content div#social-input { width: 100%; }

@media only screen and (min-width: 768px) { main#image-maker-default div#page-content div#social-input { width: calc(50% - 50px); margin-right: 50px; float: left; clear: left; } }

main#image-maker-default div#page-content div#social-output { display: block; width: 100%; padding: 10px; background: white; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

@media only screen and (min-width: 768px) { main#image-maker-default div#page-content div#social-output { position: -webkit-sticky; position: sticky; top: 10px; width: 50%; float: left; clear: none; } }

main#image-maker-default div#page-content::after { content: ""; clear: both; display: table; }

@supports (display: grid) { main#image-maker-default div#page-content::after { content: none; clear: inherit; display: none; } }

main#image-maker-pride-on--civil-servant-and-proud { padding: 45px 0; }

@supports (display: grid) { main#image-maker-pride-on--civil-servant-and-proud { display: grid; grid-template-rows: auto auto auto; grid-template-columns: 1fr; grid-template-areas: "page-title" "page-lead-paragraph" "page-content"; }
  @media only screen and (min-width: 768px) { main#image-maker-pride-on--civil-servant-and-proud { grid-template-rows: auto auto auto; grid-template-columns: 2fr 1fr; grid-column-gap: 30px; grid-template-areas: "page-title ." "page-lead-paragraph ." "page-content page-content"; } } }

main#image-maker-pride-on--civil-servant-and-proud::after { content: ""; clear: both; display: table; }

@supports (display: grid) { main#image-maker-pride-on--civil-servant-and-proud::after { content: none; clear: inherit; display: none; } }

main#image-maker-pride-on--civil-servant-and-proud div#page-title { margin-top: 45px; margin-bottom: 45px; }

@supports (display: grid) { main#image-maker-pride-on--civil-servant-and-proud div#page-title { grid-area: page-title; } }

main#image-maker-pride-on--civil-servant-and-proud div#page-title h1.page-title { margin: 0; padding: 0; }

main#image-maker-pride-on--civil-servant-and-proud div#page-lead-paragraph { margin-bottom: 45px; }

@supports (display: grid) { main#image-maker-pride-on--civil-servant-and-proud div#page-lead-paragraph { grid-area: page-lead-paragraph; } }

main#image-maker-pride-on--civil-servant-and-proud div#page-lead-paragraph p, main#image-maker-pride-on--civil-servant-and-proud div#page-lead-paragraph .text-input, main#image-maker-pride-on--civil-servant-and-proud div#page-lead-paragraph .radio-input, main#image-maker-pride-on--civil-servant-and-proud div#page-lead-paragraph .checkbox-input, main#image-maker-pride-on--civil-servant-and-proud div#page-lead-paragraph label, main#image-maker-pride-on--civil-servant-and-proud div#page-lead-paragraph .label, main#image-maker-pride-on--civil-servant-and-proud div#page-lead-paragraph .label-hint, main#image-maker-pride-on--civil-servant-and-proud div#page-lead-paragraph input[type="text"], main#image-maker-pride-on--civil-servant-and-proud div#page-lead-paragraph input[type="email"], main#image-maker-pride-on--civil-servant-and-proud div#page-lead-paragraph textarea { font-size: 24px; }

main#image-maker-pride-on--civil-servant-and-proud div#page-metadata { margin-bottom: 45px; padding-top: 15px; border-top: 2px solid #DEE0E2; }

@supports (display: grid) { main#image-maker-pride-on--civil-servant-and-proud div#page-metadata { grid-area: page-metadata; } }

main#image-maker-pride-on--civil-servant-and-proud div#page-metadata p, main#image-maker-pride-on--civil-servant-and-proud div#page-metadata .text-input, main#image-maker-pride-on--civil-servant-and-proud div#page-metadata .radio-input, main#image-maker-pride-on--civil-servant-and-proud div#page-metadata .checkbox-input, main#image-maker-pride-on--civil-servant-and-proud div#page-metadata label, main#image-maker-pride-on--civil-servant-and-proud div#page-metadata .label, main#image-maker-pride-on--civil-servant-and-proud div#page-metadata .label-hint, main#image-maker-pride-on--civil-servant-and-proud div#page-metadata input[type="text"], main#image-maker-pride-on--civil-servant-and-proud div#page-metadata input[type="email"], main#image-maker-pride-on--civil-servant-and-proud div#page-metadata textarea { font-size: 16px; margin: 0; }

@supports (display: grid) { main#image-maker-pride-on--civil-servant-and-proud div#page-content { width: 100%; float: none; clear: none; grid-area: page-content; } }

main#image-maker-pride-on--civil-servant-and-proud div#page-content div#social-input { width: 100%; }

@media only screen and (min-width: 768px) { main#image-maker-pride-on--civil-servant-and-proud div#page-content div#social-input { width: calc(50% - 50px); margin-right: 50px; float: left; clear: left; } }

main#image-maker-pride-on--civil-servant-and-proud div#page-content div#social-output { display: block; width: 100%; padding: 10px; background: white; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

@media only screen and (min-width: 768px) { main#image-maker-pride-on--civil-servant-and-proud div#page-content div#social-output { position: -webkit-sticky; position: sticky; top: 10px; width: 50%; float: left; clear: none; } }

main#image-maker-pride-on--civil-servant-and-proud div#page-content::after { content: ""; clear: both; display: table; }

@supports (display: grid) { main#image-maker-pride-on--civil-servant-and-proud div#page-content::after { content: none; clear: inherit; display: none; } }

/*# sourceMappingURL=styles.css.map */