---
layout: default

meta-info: false
feedback: false

breadcrumbs-override: true
breadcrumbs:
- title: "Home"
  url: "https://www.civilservice.lgbt/"
- title: "Tools"
  url: "https://www.civilservice.lgbt/tools"
---

<article id="{{ page.layout | slugify }}" class="{{ page.form-fields }} article--page">

	<div class="grid-row">
		{% include layouts/header.html %}
	</div>

	<div id="page-content">
		<div id="social-input">
			<div class="grid-row">
		    <div class="grid-column-one-half">
					<hr>
	        <fieldset id="image-size" class="fieldset" aria-describedby="image-size--legend">
	            <legend id="image-size--legend">Size</legend>
	            <div class="radios">
								{% assign first-radio = true %}
                {% for size in site.data.sizes %}
                {% if size.page contains page.generator %}
                <div class="radios--item">
                    <input  class="radios--input" type="radio" name="image-size" id="{{ size.title | slugify }}" value="{{ size.title | slugify }}" {% if first-radio == true %}checked{% endif %}>
                    <label class="label-sm radios--label" for="{{ size.title | slugify }}">
                        {{ size.title }}
                        <p class="hint">{{ size.width }}px by {{ size.height }}px</p>
                    </label>
                </div>
								{% assign first-radio = false %}
                {% endif %}
                {% endfor %}
	            </div>
	        </fieldset>
					<hr>
	        <fieldset id="image-design" aria-describedby="image-design--legend">
	            <legend id="image-design--legend">Design</legend>
	            <div class="radios">
									{% assign first-radio = true %}
	                {% for style in site.data.styles %}
	                {% if style.page contains page.generator %}
	                <div class="radios--item">
	                    <input  class="radios--input" type="radio" name="image-design" id="{{ style.title | slugify }}" value="{{ style.title | slugify }}" {% if first-radio == true %}checked{% endif %}>
	                    <label class="radios--label" for="{{ style.title | slugify }}">
	                        {{ style.title }}
	                        {% if style.hint %}
	                        <p class="hint">{{ style.hint }}</p>
	                        {% endif %}
	                    </label>
	                </div>
									{% assign first-radio = false %}
	                {% endif %}
	                {% endfor %}
	            </div>
	        </fieldset>
		    </div>
		    <div class="grid-column-one-half">
					<hr>
	        <fieldset id="social-input--text">
            <legend>Text to display</legend>
            <p class="hint">Your text will automatically wrap to the image width. Use the <code>Enter</code> key to insert line breaks.</p>
            <textarea class="mainText" id="mainText" placeholder="Enter your text to display here." cols="30" rows="15" spellcheck="true">We help to create a more diverse, inclusive and equal place to work for civil servants with minority sexual orientations, gender identities and expressions, and sex characteristics.</textarea>
	        </fieldset>
		    </div>
			</div>
		</div>

		<dialog class="dialog" id="social-preview">
			<header class="dialog--header">
				<h2 class="heading-md dialog--title">Image preview</h2>
			</header>
			<section class="dialog--content dialog--content--center">
			<img id="canvas-img" alt="Right click to save me!" style="margin: 0; max-height: 50vh; max-width: 100%; width: auto; border: 1px solid #DEE0E2;">
			</section>
			<footer class="dialog--actions">
				<a href="javascript:void(0)" class="button button--dialog" id="output-download" download>Download image</a>
				<button onclick="closeDialog('social-preview')" class="button button--secondary button--dialog button--close">Close preview</button>
			</footer>
		</dialog>
	</div>

</article>

<canvas id="canvas" style="display: none;"></canvas>

<script type="text/javascript" src="{{ site.url | append: site.baseurl | append: '/assets/scripts/' | append: page.generator | append: '.js' }}"></script>