---
layout: default
onload: "setUp()"
---

<main id="{{ page.layout }}">
	
	<div id="page-title">		
		<h1 class="page-title">{{ page.title }}</h1>
	</div>
	
	<div id="page-lead-paragraph">
		<p>{{ page.excerpt }}</p>
	</div>
	
	<div id="page-content">
		
		<div id="social-input">
		
			<div id="social-input--image-size">
			
				<h2>Size</h2>

				<ul id="image-size">
		
					<li class="radio-input">
						<input type="radio" onchange="updateImage();" name="image-size" id="size-twitter" value="twitter" checked>
						<span class="radio"></span>
						<label for="size-twitter">
							<span class="label-first-line">Twitter timeline</span>
							<span class="label-second-line">1200px by 675px</span>
						</label>
					</li>
		
					<li class="radio-input">
						<input type="radio" onchange="updateImage();" name="image-size" id="size-facebook" value="facebook">
						<span class="radio"></span>
						<label for="size-facebook">
							<span class="label-first-line">Facebook timeline</span>
							<span class="label-second-line">1200px by 630px</span>
						</label>
					</li>
		
					<li class="radio-input">
						<input type="radio" onchange="updateImage();" name="image-size" id="size-instagram-grid" value="instagram-grid">
						<span class="radio"></span>
						<label for="size-instagram-grid">
							<span class="label-first-line">Instagram Grid</span>
							<span class="label-second-line">1080px by 1080px</span>
						</label>
					</li>
		
					<li class="radio-input">
						<input type="radio" onchange="updateImage();" name="image-size" id="size-instagram-stories" value="instagram-stories">
						<span class="radio"></span>
						<label for="size-instagram-stories">
							<span class="label-first-line">Instagram Stories</span>
							<span class="label-second-line">1080px by 1920px</span>
						</label>
					</li>
		
				</ul>

			</div>

			<div id="social-input--image-design">
			
				<h2>Design</h2>

				<ul id="image-design">
		
					<li class="radio-input">
						<input type="radio" onchange="updateImage();" name="image-design" id="style-pride-on-arrows" value="pride-on-arrows" checked><span class="radio"></span>
						<label for="style-pride-on-arrows">
							<span class="label-first-line">No logo</span>
							<span class="label-second-line">Magenta background with arrow pattern without logo</span>
						</label>
					</li>
		
					<li class="radio-input">
						<input type="radio" onchange="updateImage();" name="image-design" id="style-pride-on-top-left" value="pride-on-top-left"><span class="radio"></span>
						<label for="style-pride-on-top-left">
							<span class="label-first-line">Logo in top left</span>
							<span class="label-second-line">Magenta background with arrow pattern and PrideON logo in top left corner</span>
						</label>
					</li>
		
					<li class="radio-input">
						<input type="radio" onchange="updateImage();" name="image-design" id="style-pride-on-bottom-right" value="pride-on-bottom-right"><span class="radio"></span>
						<label for="style-pride-on-bottom-right">
							<span class="label-first-line">Logo in bottom right</span>
							<span class="label-second-line">Magenta background with arrow pattern and PrideON logo in bottom right corner</span>
						</label>
					</li>
					

				</ul>

			</div>
		
			<div id="social-input--text">
			
				<h2>Text to display</h2>
				
				<textarea onfocusout="updateImage();" class="mainText" id="mainText" placeholder="Enter your text to display here." cols="30" rows="5"></textarea>

				<p class="hint">Your text will not automatically wrap to the image dimensons.</p><p class="hint"> You can manually add a line break by inserting three asterisks in a row like this: <code>***</code>.</p>
			
			</div>
			
			<div id="social-input--footer-style">
			
				<h2>Footer</h2>

				<ul id="footer-style">
		
					<li class="radio-input"><input type="radio" onchange="updateImage();" name="footer-style" id="footer-on" value="on" checked><span class="radio"></span><label for="footer-on">On</label></li>
		
					<li class="radio-input"><input type="radio" onchange="updateImage();" name="footer-style" id="footer-off" value="off"><span class="radio"></span><label for="footer-off">Off</label></li>
		
				</ul>

			</div>
			
			<div id="social-input--text-position">
			
				<h2>Text position</h2>
				
				<p>If you need to adjust the horizontal position of the text, adjust this value.</p>
				<p>These values are absolute values, rather than relative to the text's current position.</p>
				<ul id="text-position">
					<li class="number-input">
						<label for="mainTextXPosition">
							<span class="label-first-line">Text <em>x</em> position</span>
						</label>
						<input onfocusout="updateImage();" id="mainTextXPosition" name="text-position-x" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false">

						<p class="hint"><code>0</code> is the left edge. Positive values only.</p>
					</li>
					<li class="number-input">
						<label for="mainTextXPosition">
							<span class="label-first-line">Text <em>y</em> position</span>
						</label>						
						<input onfocusout="updateImage();" id="mainTextYPosition" name="text-position-y" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false">
						<p class="hint"><code>0</code> is the top edge. Positive values only.</p>
					</li>
				</ul> 
							
			</div>

		</div>
		
		<div id="social-output">
			
			<img id="canvas-img" alt="Right click to save me!">

			<button onclick="updateImage()">Update image</button>
			<a href="#" class="button" id="output-download" download>Download image</a>
		
		</div>
		
		
		
	</div>
	
</main>

<canvas id="canvas" style="display: none;"></canvas>

<script type="text/javascript" src="{{ site.url | append: site.baseurl | append: '/assets/scripts/social-pride-on.js' }}"></script>